---
import Directory from "@layouts/directory.astro";
import Prose from "@components/prose.astro";
const title = "research";

const papers = [
    {
        title: "Analyzing the Performance of Transformers for the Prediction of the Blood Glucose Level Considering Imputation and Smoothing",
        author: "Edgar Acuna, Roxana Aparicio, Velcy Palomino",
        link: "https://www.mdpi.com/2504-2289/7/1/41",
    },
    {
        title: "Studies of insulin and proinsulin in pancreas and serum support the existence of aetiopathological endotypes of type 1 diabetes associated with age at diagnosis",
        author: "Leete, et al.",
        link: "https://pubmed.ncbi.nlm.nih.gov/32172310/",
    },
    {
        title: "Differential Insulitic Profiles Determine the Extent of β-Cell Destruction and the Age at Onset of Type 1 Diabetes",
        author: "Leete, et al.",
        link: "https://pubmed.ncbi.nlm.nih.gov/26858360/",
    },
    {
        title: "RAPTOR: Recursive Abstractive Processing for Tree-Organized Retrieval",
        author: "Sarthi, et al.",
        link: "https://arxiv.org/html/2401.18059v1",
    },
    {
        title: "Graph Embedding Based Novel Gene Discovery Associated With Diabetes Mellitus",
        author: "Du, et al.",
        link: "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8657768/",
    },
    {
        title: "Gluformer: Transformer-Based Personalized Glucose Forecasting with Uncertainty Quantification",
        author: "Renat Sergazinov, Mohammadreza Armandpour, Irina Gaynanova",
        link: "https://arxiv.org/abs/2209.04526",
    },
    {
        title: "Comprehensive Study of a Diabetes Mellitus Mathematical Model Using Numerical Methods with Stability and Parametric Analysis",
        author: "Al Shurbaji et al.",
        link: "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9859387/",
    },
    {
        title: "Examining Type 1 Diabetes Mathematical Models Using Experimental Data",
        author: "Al Ali, Daneshkhah, Boutayeb, Mukandavire",
        link: "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8776201/",
    },
];
---

<Directory title={title}>
    <h1 class="text-3xl font-bold my-9">{title}</h1>
    <p>
        Jupyter notebooks from my own research and a collection of papers that have inspired my own work.
    </p>

    <h2 class="my-6">Notebooks</h2>
    <!-- TODO: implement jupyter notebook hosting -->

    <h2 class="my-6">Papers</h2>
    <ul class="my-6">
        {
            papers.map((p) => (
                <li>
                    <b>{p.title}</b> - {p.author} - <a href={p.link}>link</a>
                </li>
            ))
        }
    </ul>
</Directory>
